﻿@{
    ViewBag.Title = "Home Page";
}

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    //url
    const targetUrl = 'http://test.sajjadyosefi.ir/api/Application/ApplicationDetails';
    const proxyUrl = 'https://corsproxy.io/?';

    //js  
    $(window).scroll(function () {    });
    $(document).ready(function () {
        $("button").click(function () {
            //$.ajax({
            //    type: 'POST',
            //    url: proxyUrl + targetUrl,
            //    data: {  },
            //    success: function (data) {
            //        alert("Data: " + data + "\nStatus: " + status);
            //    }
            //});
        });
        getUrlVars();
        //getUrlVars2();
        getUrlVars3();

    });

    // Read a page's GET URL variables and return them as an associative array.
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function getUrlVars2() {
        var data = JSON.parse($("body").text());

        console.log(data.name); // "علی"
        console.log(data.age); // 30
        console.log(data.city); // "تهران"
    }

    function getUrlVars3() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }


        //1
        //vars

        //2
        @ViewBag.UserName
        LoadDetailsFromServer(@ViewBag.ApplicationID,'@ViewBag.storeName');
    }


    //OK load Details from server
    function LoadDetailsFromServer(applicationID, storeName) {
        var data1 = {
            "ApplicationID": applicationID,
            "storeName": storeName
        };
        $.ajax({
            type: 'POST',
            url: proxyUrl + targetUrl,
            data: JSON.stringify(data1),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var arr = $.parseJSON(data);
                    for (var i = 0, len = arr.postList.length; i < len; i++) {
                        AppendApplicationsDetailsData(arr.postList[i]);
                    }
                }
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide(); 
            },
            error: function () {
                alert("Error while retrieving data!"); 
            }
        });
    }
 
    //Append
    function AppendApplicationsDetailsData(obj) {
        //var obj = jQuery.parseJSON('{"ApplicationID":2,"NameFa":"مزایده","StatementFa":"مزایده","TextFa":"مزایده","LogoPicture":null,"NameEn":null,"StatementEn":null,"VersionCode":0,"VersionName":"آبنبات","Price":null,"DownloadCount":null,"Views":null,"StoreName":"iranapps","isFree":true,"URL":null,"Description":"مزایده","AppTypeCode":8057,"CompanyCode":8063,"Company":"اپلیکیشن های پارساپرداز","CompanyUrl":"0","CompanyIcon":"0","Priority":null}');
        //var obj = jQuery.parseJSON(data);
 
        var isFree; if (obj.isFree) isFree = "(رایگان)"
        var store = GetStoreNameFarsi(obj.StoreName);

        $("#listmore").append('' +

            '<div class="col-md-4">' +
            '<h2>' + obj.NameFa + '(' + obj.VersionName + '-v' + obj.VersionCode + ')</h2>' +
            '<p>' + obj.StatementFa + '</p>' +
            '<p>' + obj.ApplicationID + '</p>' +
            '<p>' + obj.TextFa + '</p>' +
            '<p>' + obj.NameEn + '</p>' +
            '<p>' + obj.Price + '</p>' +
            '<p>' + obj.DownloadCount + '</p>' +
            '<p>' + obj.Views + '</p>' +
            '<p>' + obj.URL + '</p>' +
            '<p>' + obj.Description + '</p>' +
            '<p>' + obj.AppTypeCode + '</p>' +
            '<p>' + obj.CompanyCode + '</p>' +

            '<p>' + obj.Priority + '</p>' +
            '<p>' + obj.ApplicationVersionStatement + '</p>' +
            '<p>' + obj.DownloadUrl + '</p>' +
            '<p>' + obj.MainUrl + '</p>' +
            '<p>' + obj.Name + '</p>' +
            '<p>' + obj.DownloadUrl + '</p>' +

            '<img width="100px" height="100px" src=' + obj.LogoPicture + '>' +
            '<img width="100px" height="100px" src=' + obj.CompanyIcon + '>' +
            '<img width="100px" height="100px" src=' + obj.ImageUrl + '>' +
            '<img width="100px" height="100px" src=' + obj.icon + '>' +
            //'<p>' + obj.TextFa + '</p>' +
            '<p>سازنده : ' + obj.Company + '<a class="btn btn-default" href="' + obj.CompanyUrl + '">سایت... »</a></p></p>' +
            '<p>منتشر شده در ' + store + isFree + '</p>' +
            ' <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=' + obj.ApplicationID + '">xxxx... »</a></p>' +
            '</div>'
    + '');

        //$("#listmore").append('<div class="col-md-4">' + obj.AppTypeCode + '</div>');
        //$("#listmore").append('<div class="col-md-4">' + obj.CompanyCode + '</div>');
        //$("#listmore").append('<div class="col-md-4">' + obj.CompanyIcon + '</div>');


        //$("#listmore").append('<div class="col-md-4">' + obj.Description + '</div>');


    }
 
    function GetStoreNameFarsi(name) {
        if (name == 'socialNetwork')
            return 'شبکه های اجتماعی';

        if (name == 'iranapps')
            return 'ایران اپس';
        if (name == 'myket')
            return 'مایکت';
        if (name == 'Bazar')
            return 'کافه بازار';
        if (name == 'jhobin')
            return 'ژوبین';
    }


</script>
<br />
<a id="progressmarker" href="#examples"> </a>
<br />

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Designed for engineers</h1>
        <h3 class="fw-normal text-muted mb-3">Build anything you want with Aperture</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
                Learn more
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
            <a class="icon-link" href="#">
                Buy
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="listCat1" class="row">
    @*<div class="col-md-4">
        <h2>برنامه های موبایلی</h2>
        <p>
            مرور و نمایش لیستی از بهترین اپ های سیستم عامل اندروید.
            این دسته بندی به عنوان پیشفرض انتخاب شده و نمایش داده می شود. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>سایت ها</h2>
        <p>مشاهده و مرور بهترین سایت ها.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>* @
    </div>*@
</div>
<hr />
<div id="listCat2" class="row">
    <div class="col-md-4">
        <h2>listCat2 1</h2>
        <p>
            مرور و نمایش لیستی از بهترین اپ های سیستم عامل اندروید. 
            این دسته بندی به عنوان پیشفرض انتخاب شده و نمایش داده می شود. 
        </p> 
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>listCat2 2 </h2>
        <p>Browse a list of the best websites and portals.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>

</div> 

<div id="listmore" class="row mb-2">
</div>
 