﻿@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<button>Send an HTTP POST request to a page and get the result back</button>

<script>
    const targetUrl = 'http://test.sajjadyosefi.ir/api/Application/ApplicationListByTypeCode';
    const proxyUrl = 'https://corsproxy.io/?';

    $(document).ready(function () {
        $("button").click(function () {
            //$.ajax({
            //    type: 'POST',
            //    url: proxyUrl + targetUrl, 
            //    data: {
            //        "id": 8057,
            //        "pageIndex": 0,
            //        "pageSize": 10
            //    }, 
            //    dataType: 'json',
            //    success: function (data) {
            //        alert("Data: " + data + "\nStatus: " + status);
            //    }
            //});
        });
    });

    var _incallback;
    var pages = 1;
    var Id = 8057;
    var pageIndex = 0;
    var pageSize = 5;

        $(window).scroll(function () {
            var hT = $('#progressmarker').offset().top,
                hH = $('#progressmarker').outerHeight(),
                wH = $(window).height(),
                wS = $(window).scrollTop();
            // don't do it if we have reached last page OR we are still grabbing items
            if (pages >= pageIndex && !_incallback) {
                if (wS > (hT + hH - wH)) {
                    GetData();
                }
            }
        });
        function GetData() {
            _incallback = true;
            $.ajax({
                type: 'POST', 
                url: proxyUrl + targetUrl,
                //headers: { 
                //    'Content-Type': 'application/json'
                //},  
                data: {
                    "id": Id,
                    "pageIndex": pageIndex,
                    "pageSize": pageSize
                }, 
                dataType: 'json',
                success: function (data) {
                    if (data != null) {  
                        var arr = $.parseJSON(data);

                        for (var i = 0, len = arr.postList.length; i < len; i++) {
                            AppendData(arr.postList[i]);
                        }

                        pageIndex++;
                        _incallback = false;
                        pages = pageIndex;
                    }
                    GetCallData();

                },
                beforeSend: function () {
                    $("#progress").show();
                    GetCallData();

                },
                complete: function () {
                    $("#progress").hide();
                    //_incallback = false;
                    GetCallData();

                },
                error: function () {
                    alert("Error while retrieving data!"); 
                    _incallback = true;
                }
            });
        }

        function AppendData(obj) {
            //var obj = jQuery.parseJSON('{"ApplicationID":2,"NameFa":"مزایده","StatementFa":"مزایده","TextFa":"مزایده","LogoPicture":null,"NameEn":null,"StatementEn":null,"VersionCode":0,"VersionName":"آبنبات","Price":null,"DownloadCount":null,"Views":null,"StoreName":"iranapps","isFree":true,"URL":null,"Description":"مزایده","AppTypeCode":8057,"CompanyCode":8063,"Company":"اپلیکیشن های پارساپرداز","CompanyUrl":"0","CompanyIcon":"0","Priority":null}');
            //var obj = jQuery.parseJSON(data);

            $("#listmore").append('<div class="col-md-4">' + obj.ApplicationID + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.NameFa + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.StatementFa + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.TextFa + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.LogoPicture + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.VersionCode + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.VersionName + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.Price + '</div>');

            $("#listmore").append('<div class="col-md-4">' + obj.DownloadCount + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.Views + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.StoreName + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.isFree + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.URL + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.Description + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.AppTypeCode + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.CompanyCode + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.Company + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.CompanyUrl + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.CompanyIcon + '</div>');
            $("#listmore").append('<div class="col-md-4">' + obj.Priority + '</div>');

            $("#listmore").append('<div class="col-md-4">  <h2>Getting started</h2>  <p>  ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that  enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development. </p> <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more »</a></p> </div>');

        }
        function GetCallData() {
            //alert("Call data" + " id:" + Id + " | pageIndex:" + pageIndex + " | pageSize :" + pageSize + " | incallback :" + _incallback);
            //$("#listmore").append('<div class="col-md-4">  <h2>Getting started</h2>  <p>  ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that  enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development. </p> <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more »</a></p> </div>');
            //$("#listmore").append('<div class="col-md-4">  <h2>Getting started</h2>  <p>  ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that  enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development. </p> <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more »</a></p> </div>');
        }
         
</script>
<a id="progressmarker" href="#examples">Skip to examples</a>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="listmore" class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>


</div>